body {
    font-family: sans-serif;
    background-color: #f8f9fa;
}

.container {
    margin-top: 20px;
}

.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.track {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

    .track label {
        width: auto;
        text-align: left;
        margin-right: 10px;
        margin-bottom: 0px;
    }

.step {
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
}

.step.active {
    background-color: #198754;
    color: white;
}

.step.playing {
    background-color: #ffc107;
}

.step.active.playing {
    background-color: #28a745;
}

.step.third-volume {
    background-color: #ff69b4;
    color: white;
}

.rhythm-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.rhythm-buttons button {
    width: 50px;
}

.rhythm-buttons button.selected {
    background-color: #007bff;
    color: white;
}

.rhythm-button.pending {
    animation: blinker 1s linear infinite;
}

.rhythm-buttons button.lighter {
    background-color: #ADD8E6;
    color: black;
}

.step.low-volume {
    background-color: #8fbc8f;
    color: white;
}

.instrument-icon {
    vertical-align: middle;
}

.instrument-button {
    width: 35px;
    height: 35px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 0.2s ease;
}

    .instrument-button:hover {
        background-color: #ddd;
    }

    .instrument-button img {
        width: 80%;
        height: 80%;
        pointer-events: none;
    }

    .instrument-button.selected {
        background-color: #007bff;
    }

        .instrument-button.selected img {
            filter: brightness(0) invert(1);
        }

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
