/* @import url(https://themes.googleusercontent.com/fonts/css?kit=ZvcMqxEwPfh2qDWBPxn6ns5-x8zqu-667uHWljev_4A); */

.fontColor {
  color: #000000;
}

.fontColorDark {
  color: #ffffff;
}

.c7 {
  border-right-style: solid;
  border-top-width: 0pt;
  border-bottom-color: #e5e7eb;
  border-right-width: 0pt;
  padding-left: 0pt;
  border-left-color: #e5e7eb;
  border-right-color: #e5e7eb;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-top-color: #e5e7eb;
  border-bottom-style: solid;
  padding-right: 0pt
}

.c20 {
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 1.5pt;
  font-family: "Merriweather";
  font-style: normal
}

.c1 {  
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c2 {  
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Arial";
  font-style: normal
}

.c3 {
  color: #9c7b3e;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c17 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9.5pt;
  font-family: "Arial";
  font-style: normal
}

.c31 {
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-style: normal
}

.c21 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c33 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Arial";
  font-style: normal
}

.c26 {
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Arial";
  font-style: normal
}

.c22 {
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c11 {
  
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal
}

.c10 {
  
  text-decoration: none;
  vertical-align: baseline;
  font-style: italic
}

.c14 {
  font-size: 11pt;
  font-family: "Arial";
  color: #9c7b3e;
  font-weight: 400
}

.c8 {
  font-size: 12pt;
  font-family: "Arial";
  font-weight: 400
}

.c29 {
  font-weight: 400;
  font-size: 16pt;
  font-family: "Trebuchet MS"
}

.c24 {
  font-size: 11pt;
  font-family: "Arial";
  font-weight: 400
}

.c5 {
  font-size: 12pt;
  font-family: "Arial";
  font-weight: 700
}

.c19 {
  font-weight: 400;
  font-size: 33pt;
  font-family: "Trebuchet MS"
}

.c32 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration: underline
}

.c13 {
  color: #9c7b3e;
  font-weight: 700
}

.c30 {
  font-size: 14pt;
  font-family: "Arial"
}

.c27 {
  font-size: 42pt;
  font-family: "Merriweather"
}

.c23 {
  font-size: 33pt;
  font-family: "Merriweather"
}

.c25 {
  color: #000000
}

.c18 {
  font-weight: 700
}

.c6 {
  height: 11pt
}

.c16 {
  color: #9c7b3e
}

.c12 {
  height: 16pt
}

.c15 {
  font-style: italic
}

.c9 {
  font-size: 12pt
}

.c4 {
  page-break-after: avoid
}

.title {
  padding-top: 0pt;
  
  font-size: 21pt;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 13pt;
  padding-bottom: 10pt;
  font-family: "Trebuchet MS";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  
  font-size: 11pt;
  font-family: "Arial"
}

p {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;

  margin: 0;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 10pt;
  
  font-size: 16pt;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 10pt;
  
  font-weight: 700;
  font-size: 13pt;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 8pt;
  color: #666666;
  font-weight: 700;
  font-size: 12pt;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 8pt;
  -webkit-text-decoration-skip: none;
  color: #666666;
  text-decoration: underline;
  font-size: 11pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  page-break-after: avoid;
  text-decoration-skip-ink: none;
  font-family: "Trebuchet MS";
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 8pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 8pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}